/****************Réglage général******************/
body {
    font-family : 'Finger Paint','cursive';
    color : #7b5d46;
    padding: 0rem 0rem 2rem 0rem  ;
    background-color: blanchedalmond;
}
/*Colorfooter = '#684833';
ColorHeader = '#92735f';
ColorBody = '#7b5d46';*/

a, p, h1, h3, h4, h5, h6 {
    text-decoration: none;
    cursor: pointer;
}
*, *::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    text-decoration: none;
    cursor: pointer;
}
/************ header / Barre de navigation***********/
header{
    margin : 0rem ;
}
.container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    background: #92735f;
    color: blanchedalmond;
}

.header-container {
    width: 100%;
    display: flex;
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.nav__logo {
    color: blanchedalmond;
    font-size: 35px;
}

.nav__cart {
    position: relative;
    color: blanchedalmond;
    font-size: 30px;
}

.nav__cart:hover a {
color:blanchedalmond;
-webkit-transition: 0.3s;
transition: 0.3s;
}
/**********************************/
.container .cart-card {
    overflow: hidden;
    margin: 50px 15px;
    display: none;
    width: 600px;
    background: #684833;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
    color: blanchedalmond;
}

.container .cart-card .cart {
    margin-left: 10px;
}

.container .cart-card__recap {
    margin: 10px 0 10px 10px;
    width: 90%;
    background: #684833;
    color: blanchedalmond;
}

.container .cart-card__recap__row {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.container .cart-card__recap .first-line {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: center;
    font-size: 19px;
    text-decoration: underline;
}

.container .cart-card__recap__title {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
     align-self: center;
    width: 120px;
    height: 30px;
    font-weight: bold;
}

.container .cart-card__recap__data {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: center;
    width: 120px;
    margin: 2px 0;
    height: 30px;
}

.container .cart-card__recap__data .fa-trash:hover {
    cursor: pointer;
    opacity: 0.7;
    font-size: 17px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.container .cart-card__recap .cart-card__form__button {
    margin: 5px 0;
    width: 130px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #352208;
}

.container .cart-card__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #352208;
    height: 100%;
}

.container .cart-card__form .form {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.container .cart-card__form .name-and-lastname {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.container .cart-card__form .postal-and-city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.container .cart-card__form .cart-card__form-line {
    margin: 5px 0px;
}

.container .cart-card__form .cart-card__form-line label {
    display: none;
}

.container .cart-card__form .cart-card__form-line {
    width: 100%;
    max-width: 300px;
}

.container .cart-card__form #bloc__phone {
    width: 100%;
}

.container .cart-card__form #bloc__mail {
    width: 100%;
}

.container .cart-card__form #bloc__mail input[type="text"] {
    margin: 10px;
}

.container .cart-card__form #bloc__mail #bloc__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.container .cart-card__form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
}

.container .cart-card__form__quantity {
    margin-bottom: 20px;
}

.container .cart-card__form__color {
    margin-bottom: 40px;
}

.container .cart-card__form .cart-card__form__button {
    padding: 20px;
    background: #e1bb80;
    border-radius: 5px;
    border: solid 1px #352208;
}

.container .cart-card__form .erreur {
    padding: 5px 0;
    color: red;
}

.container .cart-card__form .to-pay {
    font-family: Josefin Sans;
    font-size: 18px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.container .cart-card__form .to-pay:hover {
    cursor: pointer;
    opacity: 0.8;
}

.container .if-empty-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    height: 90vh;
}

.container .if-empty-cart h2 {
    margin-top: 75px;
}

.container .if-empty-cart h2 a {
    color: black;
    text-decoration: underline;
}

.container .total {
    margin-bottom: 0;
}

.title-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.title-remove {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.data-bin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.data-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.width-to-empty-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.width-to-empty-cart .to-empty-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.width-to-empty-cart .to-empty-cart:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 530px) {
    .cart-card {
        height: 750px;
    }
    .data-bin {
        display: none;
    }
    .data-price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .name-and-lastname,
    .postal-and-city {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .cart-card__form-line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 100%;
    }
    input {
        width: 100%;
    }
    h2 {
        color: black;
        text-align: center;
    }
}
/******Footer******/
footer {
    background-color:#684833;
    color: blanchedalmond;
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.text-center li a {
    color: blanchedalmond;
}
.text-center {
    text-align: center!important;
}
dl, ol, ul {
    margin-bottom: 1rem;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}

