/****************Réglage général******************/
body {
    font-family : 'Finger Paint','cursive';
    color : #7b5d46;
    padding: 0rem 0rem 1rem 0rem  ;
    background-color: blanchedalmond;
}

a, p, h1, h3, h4, h5, h6 {
    text-decoration: none;
    cursor: pointer;
}
*, *::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    text-decoration: none;
    cursor: pointer;
}
/************ header / Barre de navigation***********/
header{
    margin : 0rem ;
}
.container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    background: #684833;
    color: blanchedalmond;
}

.header-container {
    width: 100%;
    display: flex;
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.nav__logo {
    color: blanchedalmond;
    font-size: 35px;
    margin-left: 15px;
}

.nav__cart {
    position: relative;
    color: blanchedalmond;
    font-size: 30px;
}

.nav__cart:hover a {
    color:blanchedalmond;
    transition: 0.3s;
}
/************** Container - Main *****************/

.uppercase {
    text-transform: uppercase;
}

.text-center {
    margin:20px
}

.flex-col {
    margin: 220px 400px 190px 400px;
    border-radius: 5px;
    border: solid 1px #352208;
    text-align: center;
}
.font-semibold{
    font-weight: 600;
}
  /******Footer******/
footer {
    background-color:#684833;
    color: blanchedalmond;
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.text-center li a {
    color: blanchedalmond;
}
.text-center {
    text-align: center!important;
}
dl, ol, ul {
    margin-bottom: 1rem;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}


