/****************Réglage général******************/
body {
    font-family : 'Finger Paint','cursive';
    color : #7b5d46;
    padding: 0rem 0rem 1rem 0rem  ;
    background-color: blanchedalmond;
}

a, p, h1, h3, h4, h5, h6 {
    text-decoration: none;
    cursor: pointer;
}
*, *::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: blanchedalmond;
    text-decoration: none;
    cursor: pointer;
}
/************ header / Barre de navigation***********/
header{
    margin : 0rem ;
}
.container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    background: #92735f;
    color: blanchedalmond;
}

.header-container {
    width: 100%;
    display: flex;
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.nav__logo {
    color: blanchedalmond;
    font-size: 35px;
}

.nav__cart {
    position: relative;
    color: blanchedalmond;
    font-size: 30px;
}

.nav__cart:hover a {
    color:blanchedalmond;
    transition: 0.3s;
}
/******* Descripion **********/

.p-5 {
    background-color: wheat;
    margin : 0rem !important;
    padding: 3rem 0rem !important;
}

/**************** Container - Main ************************/

main .products-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 30px 0;
}

main .products-container h3 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    color: #92735f;
}

main .products-container .products {
    align-self: center;
    margin: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1700px;
}

main .products-container .products .product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
}

main .products-container .products .product:hover {
    transition: 0.3s ease;
    opacity: 0.9;
}

main .products-container .products .product__img {
    width: 100%;
    height: 90%;
    background: blanchedalmond;
    border-radius: 20px 20px 0 0;
}
main .products-container .products .product__img img:teddy_3.png{
    height: 90%;
}

main .products-container .products .product__img img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

main .products-container .products .product__infos {
    position: absolute;
    bottom: 0;
    align-items: center;
    height: 20%;
    width: 89.5%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    color: blanchedalmond;
}
.product{
    background-color: #684833;
    color: blanchedalmond;
}
@media screen and (max-width: 1100px) {
    main .products-container .products {
        grid-template-columns: 1fr 1fr;
    }
    main .products-container .products .product__infos {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    main .products-container .products {
        grid-template-columns: 1fr;
    }
    main .products-container .products .product__infos {
        font-size: 20px;
    }
    footer .nav {
        width: 90%;
    }
    footer .nav__link {
        font-size: 20px;
    }
}
/******Footer******/
footer {
    background-color:#684833;
    color: blanchedalmond;
}
.text-center li a {
    color: blanchedalmond;
}



