/****************Réglage général******************/
body {
    font-family : 'Finger Paint','cursive';
    color : #7b5d46;
    padding: 0rem 0rem 1rem 0rem  ;
    background-color: blanchedalmond;
}

a, p, h1, h3, h4, h5, h6 {
    text-decoration: none;
    cursor: pointer;
}
*, *::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    text-decoration: none;
    cursor: pointer;
}
/************ header / Barre de navigation***********/
header{
    margin : 0rem ;
}
.container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    background: #92735f;
    color: blanchedalmond;
}

.header-container {
    width: 100%;
    display: flex;
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 6px;
}

.nav__logo {
    color: blanchedalmond;
    font-size: 35px;
}

.nav__cart {
    position: relative;
    color: blanchedalmond;
    font-size: 30px;
}

.nav__cart:hover a {
    color:blanchedalmond;
    transition: 0.3s;
}
/************ Container - Main **********************/

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    background: blanchedalmond;
}

.container .product-card {
    margin: 50px 15px;
    flex-direction: row;
    background: #92735f;
    color:blanchedalmond;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
}

.container .product-card__img {
    border-radius: 20px 20px 20px 20px;
    width: 100%;
}

.container .product-card__infos {
    padding: 15px;
    height: 100%;
}

.container .product-card__infos__title {
    font-size: 32px;
}

.container .product-card__infos__description {
    font-size: 18px;
    margin: 10px 0;
}

.container .product-card__infos__price {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.container .product-card__infos__buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container .product-card__infos__quantity {
    margin-bottom: 20px;
}

.container .product-card__infos__color {
    margin-bottom: 40px;
}

.container .product-card__infos .added-to-cart-confirmation {
    visibility: hidden;
}
.container .product-card__infos .add-to-cart{
    color: #684833;
    background: blanchedalmond;
}
.container .product-card__infos .back-to-home {
    background: #7b5d46;
    color: blanchedalmond;
}
.container .product-card__infos .added-to-cart-confirmation p {
    padding: 5px;
    background-color: grey;
    border: grey 1px solid;
}

.container .product-card__infos .product-card__infos__button {
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #352208;
}

.container .product-card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#bearNum {
    width: 50px;
}

#bearNum, #color-select{
    font-family : 'Finger Paint','cursive';
    color: #684833;
    background-color:blanchedalmond ;
}

@media screen and (max-width: 450px) {
    .container .product-card__infos__buttons {
        flex-direction: column;
    }
    .container .product-card__infos__buttons .product-card__infos__button {
        margin: 5px 0;
    }
}
@media (min-width: 880px){
    .container .product-card {
        display: flex;
    }
}

/******Footer******/
footer {
    background-color:#684833;
    color: blanchedalmond;
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.text-center li a {
    color: blanchedalmond;
}
.text-center {
    text-align: center!important;
}
dl, ol, ul {
    margin-bottom: 1rem;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}


